 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword">
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Iniciar Sesion</button>
        </div>
      </div>
        </div>
      </div>

      <!-- Modal Redes -->
<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Redes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Nueva Red</option>
          <option value="1">Instagram</option>
          <option value="2">Git Hub</option>
          <option value="3">Linkedin</option>
        </select>

        <div class="mb-3">
          <label for="urlRed" class="form-label">Url Red</label>
          <input type="url" class="form-control" id="urlRed">
        </div>

        <div class="mb-3">
          <label for="iconoRed" class="form-label">Icono Red</label>
          <input type="text" class="form-control" id="iconoRed" placeholder="inserte codifo fontawesome">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Banner -->
<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Banner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Seleccionar Foto Banner</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
          <label for="datospersonales" class="form-label">Nombre, Apellido y Cargo</label>
          <textarea class="form-control" id="datospersonales" placeholder=""></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
  </div>
</div>
</div>

<!-- Modal datos personales -->
<div class="modal fade" id="datosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos Personales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Seleccionar Foto Perfil</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        
        <div class="mb-3">
          <label for="acercademi" class="form-label">Acerca de mi</label>
          <textarea class="form-control" id="acercademi" placeholder="agregar breve descripción de usted"></textarea>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
  </div>
</div>
</div>

<!-- Modal Experiencia  -->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Nueva Experiencia</option>
          <option value="1">Vendedora Preventista</option>
          <option value="2">Tesorera</option>
          <option value="3">Oficial de Cuentas</option>
          <option value="3">Auxiliar administrativo</option>
        </select>
        <div class="mb-3">
          <label for="formFile" class="form-label">Seleccionar Logo Empresa</label>
          <input class="form-control" type="file" id="formFile">
        </div>

        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo</label>
          <input type="text" class="form-control" id="cargo">
        </div>

        <div class="mb-3">
          <label for="empresaRed" class="form-label">Empresa</label>
          <input type="text" class="form-control" id="empresaRed" placeholder="">
        </div>

        <div class="mb-3">
          <label for="fechaInicio" class="form-label">Fecha Inicio</label>
          <input type="date" class="form-control" id="fechaInicio" placeholder="">
        </div>
        <div class="mb-3">
          <label for="fechaFin" class="form-label">Fecha Fin</label>
          <input type="date" class="form-control" id="fechaFin" placeholder="">
        </div>
        <div class="mb-3">
          <label for="descripción" class="form-label">Descripción</label>
          <textarea class="form-control" id="descripción" placeholder="inserte tarea"></textarea>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Es Trabajo Actual</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Estudios -->
<div class="modal fade" id="estudiosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Estudios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Añadir Institución</option>
          <option value="1">Ministerio de Desarrollo Productivo</option>
          <option value="2">Universidad Santa Maria</option>
          <option value="3">Instituto Iser</option>
          <option value="4">Open English</option>
        </select>

        <div class="mb-3">
          <label for="logoInstitucion" class="form-label">Seleccionar Logo Institución</label>
          <input class="form-control" type="file" id="logoInstitucion">
        </div>

        <div class="mb-3">
          <label for="titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo">
        </div>

        <div class="mb-3">
          <label for="fechaFin" class="form-label">Fecha Fin</label>
          <input type="date" class="form-control" id="fechaFin" placeholder="">
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Cursando</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Habilidades -->
<div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Habilidades</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Nueva Habilidad</option>
          <option value="1">Instagram</option>
          <option value="2">Git Hub</option>
          <option value="3">Linkedin</option>
        </select>

        <div class="mb-3">
          <label for="progreso" class="form-label">% Progreso</label>
          <input type="number" min="0" max="100" id="habilidadPorcentaje">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Proyecto -->
<div class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Nuevo Proyecto</option>
          <option value="1">Portfolio Web Argentina Programa</option>
        </select>

        <div class="mb-3">
          <label for="fotoProyecto" class="form-label">Seleccionar Foto Proyecto</label>
          <input class="form-control" type="file" id="fotoProyecto">
        </div>

        <div class="mb-3">
          <label for="detalleProyecto" class="form-label">Detalle del Proyecto</label>
          <textarea class="form-control" id="detalleProyecto" placeholder=""></textarea>
        </div>
        <div class="mb-3">
          <label for="fechaFin" class="form-label">Fecha Fin</label>
          <input type="date" class="form-control" id="fechaFin" placeholder="">
        </div>
        <div class="mb-3">
          <label for="urlProyecto" class="form-label">Url Proyecto</label>
          <input type="url" class="form-control" id="urlProyecto">
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">En proceso</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>
    
