            <!-- Section hard & Soft Skills -->
            <section class="HardSoft mt-1">
                <div class="container text-center">
                    <div class="row">
                      <div class="col-12 mt-5">
                        <h3>Hard & Soft Skills</h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">HTML 50%</div>
                        </div>
  <br>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">CSS 50%</div>
                        </div>
  <br>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Manejo del tiempo 80%</div>
                        </div>
  <br>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Paquete Office 90%</div>
                        </div>
  <br>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Flexibilidad y adaptación 100%</div>
                        </div>
  <br>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Atención al cliente 100%</div>
                        </div>
                        <br>
                      </div>   
                    </div>
                </div>          
               </section>
               
