<!-- Modal Experiencia  -->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Nueva Experiencia</option>
            <option value="1">Vendedora Preventista</option>
            <option value="2">Tesorera</option>
            <option value="3">Oficial de Cuentas</option>
            <option value="3">Auxiliar administrativo</option>
          </select>
          <div class="mb-3">
            <label for="formFile" class="form-label">Seleccionar Logo Empresa</label>
            <input class="form-control" type="file" id="formFile">
          </div>
  
          <div class="mb-3">
            <label for="cargo" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="cargo">
          </div>
  
          <div class="mb-3">
            <label for="empresaRed" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="empresaRed" placeholder="">
          </div>
  
          <div class="mb-3">
            <label for="fechaInicio" class="form-label">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" placeholder="">
          </div>
          <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" placeholder="">
          </div>
          <div class="mb-3">
            <label for="descripción" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripción" placeholder="inserte tarea"></textarea>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Es Trabajo Actual</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
