        <!-- Section educación -->
<section class="Educación mt-1">
  <div class="container text-center">
      <div class="row">
        <div class="col-12 mt-1 pt-1">
          <h3>Educación</h3>
        </div>
            <div class="col-2 mt-3">
              <img src="assets/img/fondo-gris.webp" class=" rounded-circle w-50" alt="...">
            </div>
            <div class="col-9 mt-5">
            <p align="left">Ministerio de Desarrollo Productivo. Titulo Obtenido: Desarollador Full Stack Junior, año 2023</p></div>
            <div class="col-2 mt-3">
              <img src="assets/img/fondo-gris.webp" class=" rounded-circle w-50" alt="...">
            </div>
            <div class="col-9 mt-5">
              <p align="left">Universidad Santa Maria, Titulo Obtenido: Licenciada en Administración, año 2007</p></div>
              <div class="col-2 mt-3">
                <img src="assets/img/fondo-gris.webp" class=" rounded-circle w-50" alt="...">
              </div>
              <div class="col-9 mt-5">
              <p align="left">Instituto ISER, Titulo a Obtener</p></div>
            <div class="col-2 mt-3">
              <img src="assets/img/fondo-gris.webp" class=" rounded-circle w-50" alt="...">
            </div>
            <div class="col-9 mt-5">
            <p align="left">Open English, Titulo a Obtener: English Basic Proficienty</p></div>
          </div>
        </div>            
 </section>
