<!-- Modal Proyecto -->
<div class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form [formGroup]="form" name="educacionform">

        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Nuevo Proyecto</option>
            <option value="1">Portfolio Web Argentina Programa</option>
          </select>
  
          <div class="mb-3">
            <label for="fotoProyecto" class="form-label">Seleccionar Foto Proyecto</label>
            <input class="form-control" type="file" id="fotoProyecto">
          </div>
  
          <div class="mb-3">
            <label for="detalleProyecto" class="form-label">Detalle del Proyecto</label>
            <textarea class="form-control" id="detalleProyecto" placeholder="" formControlName="descripcion" [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea>
              <div *ngIf="Descripcion.errors && Descripcion.touched">    
                <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                  La Descripcion es requerida.
                </p>
          </div>
        </div>
          <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" placeholder="">
          </div>
          <div class="mb-3">
            <label for="urlProyecto" class="form-label">Url Proyecto</label>
            <input type="url" class="form-control" id="urlProyecto">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
      
  
