section.banner{
    background-image: url(assets/img/saltoangel.jpg);
    width: 100%;    
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;   
}
/*seccion banner*/
h3.intro{
    padding-top: 15%;
    font-size: 3rem;
}
/*seccion banner*/
h1.intro{
    font-size: 4rem;
}
/*seccion banner*/
h2.intro{
    font-size: 3.25rem;
}