<app-navar></app-navar>
<!--Formulario de registro-->
<section class="registro">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 formulario-registro">
        <div class="modal-body mt-3">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label"
              >Email</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="staticEmail"
                value="email@example.com"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label"
              >Password</label
            >
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" routerLink="/login" class="btn btn-primary">
              Registrarme
            </button>
          </div>
          <small>Si ya tenes cuenta <a routerLink="/login">ingresá</a></small>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
