section.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*seccion banner*/
h3.intro {
  padding-top: 3%;
  font-size: 3.25rem;
}
/*seccion banner*/
h1.intro {
  font-size: 4rem;
}
/*seccion banner*/
h2.intro {
  font-size: 3.25rem;
}
.img-fluid{
  max-width: 250%;
  min-width: 100%;
}