<!-- Modal Estudios -->
<div class="modal fade" id="estudiosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Estudios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" name="educacionform"> 

        <div class="modal-body">
          <!--<select class="form-select mb-3" aria-label="Default select example">
            <option selected>Añadir Institución</option>
            <option value="1">Ministerio de Desarrollo Productivo</option>
            <option value="2">Universidad Santa Maria</option>
            <option value="3">Instituto Iser</option>
            <option value="4">Open English</option>
          </select>-->
          <ul class="p-0">
            <li *ngFor="let educacion of educaciones" class="d-flex justify-content-between align-items-center m-1">
              <span>{{educacion.id}} - {{educacion.tituloObtenido}}</span>
              <span class="d-flex justify-content-between gap-2">
                <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(educacion.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(educacion.id)">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </span>
            </li>
          </ul>
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>
          <div class="mb-3">
            <label for="nombreInstitucion" class="form-label">Nombre de la Institución</label>
            <input type="text" class="form-control" id="nombreInstitucion" formControlName="nombreInstitucion" [ngClass]="{'is-invalid': form.get('nombreInstitucion')?.errors && form.get('nombreInstitucion')?.touched, 'is-valid': form.get('nombreInstitucion')?.errors && form.get('nombreInstitucion')?.touched}">
            <p class="text-danger"
              *ngIf="form.get('nombreInstitucion')?.touched && form.get('nombreInstitucion')?.errors?.['required']">
              El nombre de la institución es requerido.
            </p>
          </div>

  
          <div class="mb-3">
            <label for="logoInstitucion" class="form-label">Seleccionar Logo Institución</label>
            <input class="form-control" type="file" id="logoInstitucion" formControlName="logoInstitucion">
          </div>
  
          <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" formControlName="tituloObtenido" [ngClass]="{'is-invalid': TituloObtenido.errors && TituloObtenido.touched, 'is-valid': !TituloObtenido.errors && TituloObtenido?.touched}">  
              <p class="text-danger" *ngIf="form.get('tituloObtenido')?.touched && form.get('tituloObtenido')?.errors?.['required']" >
                El Titulo Obtenido es requerido.
              </p>
              
                      </div>
  
          <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" placeholder="" formControlName="fechaFin">
          </div>
  
        
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="form.reset()">Reset</button>
          <button class="btn btn-primary" (click)="guardar()"  [disabled]="form.invalid">Guardar</button>
        </div>
        </form>
    </div>
  </div>
</div>