 <!-- Modal Redes -->
 <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Redes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" name="redesform"></form>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Nueva Red</option>
            <option value="1">Instagram</option>
            <option value="2">Git Hub</option>
            <option value="3">Linkedin</option>
          </select>
          
  
          <div class="mb-3">
            <label for="urlRed" class="form-label">Url Red</label>
            <input type="url" class="form-control" id="urlRed" formControlName="link" [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}">
          </div>
          <div *ngIf="Link.errors && Link.touched">    
            <p *ngIf="Link.hasError('required')" class="text-danger">
             El Link de la Red es requerido.
            </p>
          </div> 
  
          <div class="mb-3">
            <label for="iconoRed" class="form-label">Icono Red</label>
            <input type="text" class="form-control" id="iconoRed" placeholder="inserte codifo fontawesome">
          </div>
          <div *ngIf="Icono.errors && Icono.touched">    
            <p *ngIf="Icono.hasError('required')" class="text-danger">
              El Icono de la Red es requerido.
            </p>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  
