 <!-- Modal Redes -->
 <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Redes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" name="redesform">
        <div class="modal-body">
            <ul class="p-0">
              <li *ngFor="let red of Redes" class="d-flex justify-content-between align-items-center m-1">
                <span>{{red.id}}</span>
                <span class="d-flex justify-content-between gap-2">
                  <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(red.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(red.id)">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                </span>
              </li>
            </ul>
  
            <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>
  
            <div class="mb-3">
              <label for="link" class="form-label">Link</label>
              <input type="text" class="form-control" id="link" formControlName="link" [ngClass]="{'is-invalid': form.get('link')?.errors && form.get('link')?.touched, 'is-valid': form.get('link')?.errors && form.get('link')?.touched}">
              <p class="text-danger"
                *ngIf="form.get('link')?.touched && form.get('link')?.errors?.['required']">
                El link es requerido.
              </p>
            </div>

            <div class="mb-3">
              <label for="icono" class="form-label">Icono</label>
              <input type="text" class="form-control" id="titulo" formControlName="icono" [ngClass]="{'is-invalid': form.get('icono')?.errors && form.get('icono')?.touched, 'is-valid': form.get('icono')?.errors && form.get('icono')?.touched}">
              <p class="text-danger"
                *ngIf="form.get('icono')?.touched && form.get('icono')?.errors?.['required']">
                El icono es requerido.
              </p>
            </div>
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="form.reset()">Reset</button>
            <button class="btn btn-primary" (click)="guardar()"  [disabled]="form.invalid">Guardar</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  
