<!-- Modal Habilidades -->
<div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Habilidades</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Nueva Habilidad</option>
            <option value="1">Instagram</option>
            <option value="2">Git Hub</option>
            <option value="3">Linkedin</option>
          </select>
  
          <div class="mb-3">
            <label for="progreso" class="form-label">% Progreso</label>
            <input type="number" min="0" max="100" id="habilidadPorcentaje">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  
