<nav class="navbar navbar-expand-lg bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Frontend/index.html">
            <img src="assets/img/APLogo-20-20.png" alt="" width="20%" height=""> 
            
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"> <a href="https://www.linkedin.com/in/elke-barrios-villamizar-7a23a9b8/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
            <li class="list-group-item"> <a href="https://github.com/elkebarrios" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></li>
            <li class="list-group-item"> <a href="https://www.instagram.com/elketrini/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
            <!-- Button que envia al login -->
            <li class="list-group-item"> 
            <a href="/Frontend/login.html"><i class="fa-solid fa-user-lock fa-2xl"></i></a> 
           </li>
          </ul>
          </div>
        </nav>
