.navbar.navbar-expand-lg.bg-primary{
    background: rgb(223,143,152);
background: radial-gradient(circle, rgba(223,143,152,1) 27%, rgba(186,76,84,1) 61%, rgba(74,159,148,0.9335084375547094) 99%);
}
/*color de iconos*/
i.fa-brands.fa-instagram.fa-2xl,i.fa-brands.fa-github.fa-2xl,i.fa-brands.fa-linkedin.fa-2xl,i.fa-solid.fa-user-lock.fa-2xl{
    color: black;
}
/*bordes y fondo iconos transparentes*/
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
/*color icono cuando lo seleccciono*/
i.fa-brands.fa-instagram.fa-2xl:hover{
color:rgb(228, 36, 157)
}
/*color icono cuando lo seleccciono*/
i.fa-brands.fa-linkedin.fa-2xl:hover{
    color:rgb(23, 119, 237)
}
/*color icono cuando lo seleccciono*/
i.fa-brands.fa-github.fa-2xl:hover{
    color:rgb(36, 225, 228)
}