<app-navar></app-navar>
<!--Formulario de Login-->
<!--<section class="login">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 formulario-login">
        <form [formGroup]="form" name="loginform" (ngSubmit)="onEnviar($event)">
        <div class="modal-body mt-3">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label"
             >Email</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="email@example.com" formControlName="email"/>
          </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label"
              >Password</label
            >
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" formControlName="clave"/>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              routerLink="/dashboard"
              class="btn btn-primary"
            >
              Iniciar Sesion
            </button>
          </div>
          <small
            >Si no tenes cuenta <a routerLink="/registro">registrate</a></small
          >
        </div>
        <div class="col-2"></div>
    </form>
    </div>
    </div>
  </div>
</section>-->
<section class="login">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 formulario-login">
        <div class="modal-body mt-3">
          <div class="mb-3 row">
            <h2>Login</h2>
            <form [formGroup]="form" (ngSubmit)="login()" class="form">
              <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    value="email@example.com"
                  />
                </div>
              </div>
              <p
                class="validation"
                *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
              >
                Mail es requerido
              </p>
              <p
                class="validation"
                *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
              >
                Mail invalido
              </p>

              <div class="mb-3 row" class="form-group">
                <label for="inputPassword" class="col-sm-2 col-form-label"
                  >Password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    formControlName="password"
                    id="password"
                    class="form-control"
                  />
                </div>
              </div>
              <p
                class="validation"
                *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
              >
                Password es requerido
              </p>
              <p
                class="validation"
                *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']"
              >
                Password debe tener más de 6 caracteres
              </p>
              <div class="form-buttons">
                <input
                  type="submit"
                  value="Enviar"
                  class="btn btn-primary mt-3"/>
                </div>
              <div class="col-2"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
